<mat-toolbar>
    <img src="assets/pics/logo.png" />
    <!-- <h2>League of Learning</h2> -->
    <span class="example-spacer"></span>
    <a class="" routerLink="/categories">Uploader</a>
</mat-toolbar>

<div class="container-fluid">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile><h2><b>Welcome Back, Uploader👋</b></h2></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button>Upload Training Materials</button></mat-grid-tile>
  </mat-grid-list>
</div>
<br>



<!-- <table mat-table>
  <ng-container>
  <thead class="bg-light">
    <tr>
      <th>Title</th>
      <th>File Name</th>
      <th>File Type</th>
      <th>Journey</th>
      <th>Upload Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="2">
        <button mat-button>
          Edit
        </button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="2">
        <button mat-button>
          Edit
        </button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button mat-button>
          Edit
        </button>
      </td>
    </tr>
  </tbody>
  </ng-container>
</table> -->


