mat-toolbar {
    position: sticky;
    top: 0px;
    background: linear-gradient(to bottom, #00ccff 0%, #0066cc 100%);
    height: 80px;
    color: white;
    padding-top: 10px;
    z-index: 2;
}

img {
    width: 45px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-option {
    padding: 0 10px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
    color: #002C54 !important;
}

mat-form-field {
    margin-top: 5px;
}