mat-toolbar {
    position: sticky;
    top: 0px;
    background-color: #B0C2D3;
    max-height: 86px;
}

img {
    width: 85px;
    margin-left: 5px;
    margin-top: 0px;
}

.example-spacer {
    flex: 1 1 auto;
}

a {
    padding: 0 25px;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

