<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
</head>

<body>

    <div class="container">
        <h1>UPLOAD</h1>
        <!-- <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="upload">
        </form> -->

        <form method="POST" enctype="multipart/form-data" action='/test'>
            <input type='file' name='files[]' multiple="true"></input>
            <button type='submit' value='Test'><b>Upload</b></button>
        </form>

    </div>

</body>

</html>