<div class="reader-wrapper">
    <div class="overlay">
        <div class="search-container">
            <h1>Citi Knowledge Center</h1>
            <p>Search over 10,000 documents today. Simply just search, we’ve got the right answers for you, PERFECTO!
            </p>

            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-icon matPrefix class="search_icon icon">search</mat-icon>
                    <input matInput type="search" placeholder="Search input here" class="search-input">
                    <mat-icon matSuffix class="enter_icon icon" enter>arrow_forward</mat-icon>
                </mat-form-field>
            </form>

        </div>
    </div>

</div>