<h1 mat-dialog-title>Title of the document: </h1>
<div mat-dialog-content>
    <p>
        Document Title<span style="color:red;">*</span> : 
        <mat-form-field appearance="outline">
        <mat-label>Name your document</mat-label>
        <input matInput [(ngModel)]="data.title">
        </mat-form-field>
    </p>
    <p>
        Journey<span style="color:red;">*</span> :
        <mat-form-field appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select [(ngModel)]="data.journey">
                <mat-option value="Lending">Lending</mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <!-- <p>
        <button mat-button><a target="_blank" [routerLink] = "['/viewdocument']"><u>Preview Document</u></a></button> 
    </p> -->
</div>
<div mat-dialog-actions>
    <span class="example-spacer" style="flex: 1 1 auto; display:flex;"></span>
    <button mat-stroked-button (click)="onNoClick()" >Cancel</button>
    <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>

