<h1 style="padding: 2rem;">Title of the document: </h1>
<div style="padding: 0px 2rem 1rem 2rem;">
    <div class="container-fluid">
        <h3> Edit Document Details ✏ </h3>
        <div>
            <p>
                Document Uploaded<span style="color:red;">*</span>
                <button mat-button>
                    <a target="_blank" [routerLink] = "['/viewdocument']">
                        <u>Preview Document</u> 
                        <!-- insert the existing file name -->
                        <!-- not sure if can make it disappear after a new file is uploaded -->
                    </a>
                </button> 
                <input type="file" style="display: none" #fileInput (change)="onChangeFileInput()">
                <button mat-stroked-button class="file-select-button" (click)="onClickFileInputButton()">Browse</button>
            </p>
            <div> 
                <p class="file-name" *ngIf="!file; else fileName"> New Document Uploaded: No file uploaded</p>
                <ng-template #fileName>
                    <p class="file-name">New Document Uploaded: 
                        <button mat-button><a target="_blank" [routerLink] = "['/viewdocument']">
                            <u>{{ file?.name }}</u></a>
                        </button>
                    </p>
                </ng-template>
            </div>
            <p>
                Document Title<span style="color:red;">*</span> : 
                <mat-form-field appearance="outline">
                <mat-label>Name your document</mat-label>
                <input matInput>
                </mat-form-field>
            </p>
            <p>
                Journey<span style="color:red;">*</span> :
                <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="lending">Lending</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
        </div>
        <div>
            <button style="margin-left: 950px;" mat-stroked-button [routerLink] = "['/uploader']">Cancel</button>
            <span style="padding-right: 1rem;"></span>
            <button mat-raised-button>Save</button>
        </div>
    </div>
</div>
