<h1 style="padding: 2rem;">Title of the document: <span style="color: blue">{{ docTitle }}</span></h1>
<div style="padding: 0px 2rem 1rem 2rem;">
    <div class="container-fluid">
        <h3> Edit Document Details ✏ </h3>
        <div>
            <!-- Edit & Preview Document -->
            <div>
                <!-- Previously Uploaded Document -->
                <p>
                    Document Uploaded<span style="color:red;">*</span> :
                    <button mat-button>
                        <a target="_blank" (click)="viewDocument()">
                            <u>{{ editDocData.docName }}</u> 
                            <!-- not sure if can make it disappear after a new file is uploaded -->
                        </a>
                    </button> 
                    <input type="file" style="display: none" #fileInput (change)="onChangeFileInput()">
                    <button mat-stroked-button class="file-select-button" (click)="onClickFileInputButton()">Browse</button>
                </p>

                <!-- Newly Uploaded Document -->
                <div> 
                    <p class="file-name" *ngIf="!file; else fileName"> New Document Uploaded: No file uploaded</p>
                    <ng-template #fileName>
                        <p class="file-name"> New Document Uploaded:
                                <span class="newFile"> {{ file?.name }} </span>
                        </p>
                    </ng-template>
                </div>

            <!-- Document Title -->
            <p>
                Document Title<span style="color:red;">*</span> :
                <mat-form-field appearance="outline">
                    <mat-label>Name your document</mat-label>
                    <input matInput value="{{ editDocData.docTitle }}" [(ngModel)]="editDocData.docTitle"
                        name="docTitle">
                </mat-form-field>
            </p>

            <!-- Document Journey -->
            <p>
                Journey<span style="color:red;">*</span> :
                <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select [(ngModel)]="editDocData.journey" name="journey">
                        <mat-option value="Lending">Lending</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>

            <!-- Document Versioning -->
            <h3 class="version">Document Version History</h3>
            <div class="container">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="docName">
                        <th mat-header-cell *matHeaderCellDef> Document Name </th>
                        <td mat-cell *matCellDef="let element">{{element.docName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="lastUpdated">
                        <th mat-header-cell *matHeaderCellDef> Upload Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastUpdated | date:'short'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="uploaderName">
                        <th mat-header-cell *matHeaderCellDef> Uploader Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.uploaderName}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
        <div>
            <button style="margin-left: 950px;" mat-stroked-button [routerLink]="['/uploader']">Cancel</button>
            <span style="padding-right: 1rem;"></span>
            <button *ngIf="!file" mat-raised-button (click)="editUploadedDoc()">Save</button>
            <button *ngIf="file" mat-raised-button (click)="uploadDoc()">Save</button>
        </div>
    </div>
</div>