<div class="header">
    <div class="wrapper">
        <h2 class="intro">Welcome Back, Uploader👋</h2>
        <button [routerLink] = "['./upload']" mat-raised-button class="upload_btn">Upload Training Materials</button>
    </div>
</div>

<br>

<div style="padding-left: 2rem; padding-right: 2rem;">
    <div class="container-fluid">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h3 style="padding-left: 2rem;"> Upload Document 📂</h3>
            <form class="example-form">
                <mat-form-field appearance="outline" style="width:400px; font-size: 16px;">
                    <mat-label [style.marginLeft]="'10px'">Search uploaded documents</mat-label>
                    <mat-icon matPrefix *ngIf="titleQuery.value != null && titleQuery.value != ''" class="icon search-reset" (click)="clearSearch()"><mat-icon>cancel</mat-icon></mat-icon>
                    <input [formControl]="titleQuery" matInput placeholder="Search uploaded documents" (keyup.enter)="searchDoc()">
                    <mat-icon matSuffix class="icon search-submit" (click)="searchDoc()"><mat-icon>search</mat-icon></mat-icon>
                </mat-form-field>
            </form>
        </div>

        <table *ngIf="!isLoading" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="docTitle">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.docTitle}} </td>
            </ng-container>

            <ng-container matColumnDef="docName">
                <th mat-header-cell *matHeaderCellDef> File Name </th>
                <td mat-cell *matCellDef="let element"> <a target="_blank" (click)="viewDocument(element.docID)"><u>{{element.docName}}</u></a> </td>
            </ng-container>

            <ng-container matColumnDef="docType">
                <th mat-header-cell *matHeaderCellDef> File Type </th>
                <td mat-cell *matCellDef="let element"> {{element.docType}} </td>
            </ng-container>

            <ng-container matColumnDef="journey">
                <th mat-header-cell *matHeaderCellDef> Journey </th>
                <td mat-cell *matCellDef="let element"> {{element.journey}} </td>
            </ng-container>

            <ng-container matColumnDef="lastUpdated">
                <th mat-header-cell *matHeaderCellDef> Upload Date </th>
                <td mat-cell *matCellDef="let element"> {{element.lastUpdated | date:'short'}} </td>
            </ng-container>

            <ng-container matColumnDef="uploaderName">
                <th mat-header-cell *matHeaderCellDef> Uploader Name </th>
                <td mat-cell *matCellDef="let element"> {{element.uploaderName}} </td>
            </ng-container>

            <ng-container matColumnDef="upload_status">
                <th mat-header-cell *matHeaderCellDef> Upload Status </th>
                <td mat-cell *matCellDef="let element"> {{element.upload_status}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"><button mat-button (click)="editUploadedDoc(element.docID)" >Edit</button></td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"><button mat-button style="color: red;" (click)="deleteDoc(element.docName)" >Delete</button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="isLoading" class="loading">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!isLoading && dataSource.length == 0" class="not-found">
            <mat-icon class="icon error">error_outline</mat-icon>
            <h4>No uploaded documents found.</h4>
        </div>

        <mat-paginator
            [length]="totalRows" 
            [pageIndex]="currentPage" 
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" 
            (page)="pageChanged($event)" 
            aria-label="Select page">
      </mat-paginator>

    </div>

</div>