.wrapper {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}

.intro {
    margin: 0;
    margin-left: 35px;
}

.upload_btn {
    margin-right: 35px;
}

.search-reset {
    font-size: 13px;
    padding-right: 5px;
}
.search-submit {
    font-size: 16px;
    padding-right: 5px;
    padding-left: 15px;
}

.mat-label {
    padding-top: 10px !important;
}

table{
    width: 100%;
    padding: 10px;
}

.mat-header-row .mat-header-cell {
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.mat-row .mat-cell {
    border-bottom: 3px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-raised-button {
    background-color: #6200ea;
    color: white;
    font-size: 14px;
    padding: 0.05rem 1rem; 
    border: none;
    border-radius: 4px;
    height: auto;
    width: auto;
}

.container-fluid {
    padding: 2rem; 
    border: 1px solid;
    border-radius: 4px;
    border-color: gainsboro;
    box-shadow: 2px 2px 5px 5px #f3f3f3;
}

.mat-button {
    color: blue;
}

.not-found {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.error {
    font-size: 55px;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
}