.container-fluid {
    justify-content: center;
    text-align: center;
    padding-top: 8rem;
}

h1, p {
    color: black;
    padding: 1rem;
}

.mat-stroked-button {
    border: 1px solid #6200ea; 
    color:#6200ea;
}