<iframe [src]="docLink | safe"></iframe>

<div *ngIf='!toggleClose'class="uc-modal">
    <div class="uc-m-header">
      <span class="material-icons" (click)="close()">close</span>
    </div>
    <div class="uc-m-body">
      <h2>Was the search result helpful?</h2>
    </div>
    <div class="uc-m-footer">
      <button class="btn" type="submit" (click)="close()"><mat-icon>thumb_up</mat-icon></button>
      <button class="btn" type="submit" (click)="close()"><mat-icon>thumb_down</mat-icon></button>
    </div>
</div>

