<iframe *ngIf="docType ==='pdf'" [src]="docLink | safe"></iframe>

<ngx-doc-viewer *ngIf="docType !=='pdf'"
  [url]=docLink
  viewer="office"
  style="width:100%;height:100%;"
></ngx-doc-viewer>


<div *ngIf='this.userRole === "reader"' class="uc-modal" [ngStyle]="{'display':displayStyle}">
    <div class="uc-m-header">
      <span class="material-icons" (click)="closePopup()">close</span>
    </div>
    <div class="uc-m-body">
      <h2>Was the search result helpful?</h2>
    </div>
    <div class="uc-m-footer">
      <button mat-raised-button (click)="submitPositive()"><mat-icon>thumb_up</mat-icon></button>
      <span style="padding-left:20px;"></span>
      <button mat-raised-button (click)="submitNegative()"><mat-icon>thumb_down</mat-icon></button>
    </div>
</div>

