mat-toolbar {
    position: sticky;
    background: linear-gradient(to bottom, #00ccff 0%, #0066cc 100%);
    height: 60px;
    color: white;
    padding-top: 20px;
}

img {
    width: 45px;
    margin-left: 5px;
    margin-bottom: 4px;
}

p { 
    padding-bottom: 0px;
    width: 10%;
    font-size: 15px !important;
    transform: translateX(40%);
    color: white;
}



.example-spacer {
    flex: 1 1 auto;
}

.mat-raised-button {
    background-color: #0066cc;
    color: white;
    font-size: 17px;
    transform: translateY(-30%)
}