<div class="header">
    <div class="wrapper">
        <h2 class="intro">Upload training materials here!</h2>
        <h6>Accepted format: PDF, Word Doc, Powerpoint</h6>
    </div>
</div>

<div class="center">
    <div class="container-fluid">
    <ngx-file-drop class="ngx-fileDropBody"
        dropZoneClassName="dropZoneBody" 
        dropZoneLabel="Drop files here"
        (onFileDrop)="dropped($event)" 
        [multiple]="true">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <div class="upload-box">
                <mat-icon>cloud_upload</mat-icon>
                <br>
                <h6>Select a file or drag and drop here</h6>
                <p style="color: #0F91D2">---------------------------------------------</p>
                <p>PDF, Word, Powerpoint, file size no more than 10MB</p>
                <br>
                <button mat-stroked-button (click)="openFileSelector()">SELECT FILE</button>
            </div>
        </ng-template>
    </ngx-file-drop>

    <div class="upload-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of fileList; let i=index">
                    <td><strong>{{ item['value'].name }}</strong></td>
                    <td><button mat-stroked-button (click)="editFile(item['key'])"><mat-icon>edit</mat-icon></button></td>
                    <td><button mat-stroked-button (click)="deleteFile(item['key'])"><mat-icon>delete</mat-icon></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

<div>
    <mat-toolbar>
        <span class="example-spacer"></span>
        <button [routerLink] = "['/uploader']" mat-flat-button>Cancel</button>
        <button mat-flat-button style="border: 1px solid grey;" (click)="submitForm()">Upload</button>
    </mat-toolbar>
</div>



