h2 {
    padding-top: 3rem;
    text-align: center;
    color: black;
}

h6 {
    text-align: center;  
    color: black;
    opacity: 0.6;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.container-fluid {
    padding-top: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: center;
}

.selectFile {
    position:relative;
    top:50%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: whitesmoke;
    padding-left: 30rem;
}

::ng-deep .dropZoneBody {
    position: relative;
    width: auto;
    height: 8rem;
    min-height: inherit;
    font-size: 13px;
    border-radius: 8px;
    border: 2px dashed #1A2B88;
    padding: 5rem;
    box-sizing: content-box;
    transition: all 0.25s;
}

.mat-toolbar {
    position: sticky;
    bottom: 0px;
    height: 60px;
    color: white;
}

.mat-flat-button {
    color: black;
    margin: 10px;
}

.example-spacer {
    flex: 1 1 auto;
}

th {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'poppins';
}

td {
    font-family: 'poppins';
    font-size: small;
    padding-bottom: 1rem;
}

.mat-raised-button {
    background-color: #6200ea;
    color: white;
    font-size: 14px;
    padding: 0.05rem 1rem; 
    border: none;
    border-radius: 4px;
    height: auto;
    width: auto;
}

.mat-stroked-button {
    border: 1px solid #0F91D2;
    color: #0F91D2;
}